<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='custom.css')}}" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>WMATA ITIN</title>
    
    {% endif %}
    <div class="navbar">
        <a href="{{ url_for('trips.index') }}">GO HOME</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('users.account') }}">Account</a>
        <a href="{{ url_for('users.logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('users.login') }}">Login</a>
        <a href="{{ url_for('users.register') }}">Register</a>     
    {% endif %}
        <br>
        Nicole's WMATA itinerary creator aka shitter.com!!!! Yay
    </div>

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>